<!DOCTYPE html>
<html lang="{{ g.get('locale', 'en') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ gettext('home_title') }}</title>
</head>
<body>
    <h1>{{ gettext('home_header') }}</h1>
    
    <p>
        {% if g.user %}
            {{ gettext('logged_in_as', username=g.user['name']) }}
        {% else %}
            {{ gettext('not_logged_in') }}
        {% endif %}
    </p>
    
    <p>
        {{ gettext("Current Timezone:") }} {{ get_timezone() }}
    </p>
</body>
</html>